body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header h1 {
  text-transform: uppercase;
  font-family: 'Gaegu', cursive;
} 

h1, h2, h3, h5 {
  font-family: 'Gaegu', cursive;
}


.navBarLogo {
  height:1.5em;
}

.donate {
  text-align: right;
}

section {
  flex: 1 0 auto;
  background-color: lightblue;
}

.gameInfo {
  border-radius: 1em;
  background-color: white;
  text-align: center;
  padding: .75em 1.5em;
}

.gameInfo p {
  font-weight: bolder;
}

.instructions {
  text-align:left;
}

.game {
  text-align: center;
  border: thin solid white;
  border-radius: 1em;
  margin: 0 .5em .5em .5em;
  padding: .5em;
}

.game:hover {
  background-color: rgb(103, 194, 225);
}

.game button {
  margin-bottom: .25em;
}

.game img {
  display:block;
  margin: .25em auto;
  max-width:100%;
}

footer {
  flex-shrink: 0;
  text-align:center;
}


footer ul {
  list-style-type: none;
  text-align: center;
  margin: .5em;
}

footer ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

footer ul li:after {
  content: " | ";
}

footer ul li:last-child:after {
  content: "";
}

ul.otherGames  {
  list-style-type: none;
  text-align: center;
  margin: .5em;
}

 ul.otherGames li {
  margin: 0;
  padding: 0;
  display: inline;
}

.centerText{
  text-align:center;
}

.giantButton {
  width: 50vw;
  height: 25vw;
  margin: 15vh auto 0 auto;
  background-color: blue;
  border: thin solid white;
  border-radius: 2em;
  color:white;    
  display: flex;
  text-align: center;
  justify-content:center;
  align-content:center;
  flex-direction:column; 
  font-size: 8vw;
  font-weight: bolder;
  cursor: pointer;
}

.giantButton:hover {
  background-color: darkblue;
}

.giantProblem, .giantAnswerInput {
  font-size: 8vw;
  font-weight: bolder;
  padding: .25em;
}

